<%- include("../partials/header"); %>
<div class="row mx-0">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header display-4"><%= user.username%></div>
      <img class="img-fluid card-img-top" id="avatar" src="<%= user.avatar %> " alt="user profile image" />
      <div class="card-body">
        <h4 class="card-title font-weight-light"><%= user.firstName + " " + user.lastName%></h4>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ducimus ab, delectus beatae iusto eum eveniet
          sapiente ullam similique minus aliquam et. Eos pariatur laboriosam officiis quis quos? Cum, vel?
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <h5><%= user.firstName%>'s Campgrounds:</h5>
    <ul class="list-group">
      <% campgrounds.forEach((campground)=>{ %>
      <li class="list-group-item">
        <a href="/campgrounds/<%= campground._id %> "><%=campground.name%></a>
      </li>
      <% }); %>
    </ul>
  </div>
</div>

<%- include("../partials/footer"); %>
